.ingredientListItem {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5px 0;
    background: #fff;
    border: 2px solid #000;
}

.ingredientAdd {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 10px;
    color: #000;
}

.ingredientImg {
    width: 50px;
    margin: 0 20px;
}

.ingredientCount {
    margin: 0 20px 0 auto;
}

.ingredientBtn {
    margin: 0 10px 0 0;
    padding: 10px;
    background: transparent;
    border: none;
}

.ingredientBtn:hover {
    transition: .2s all;
    background: #ccc;
}