.burgerAppHeader {
  width: 95%;
  margin: 10px auto;
  text-align: center;
  text-transform: uppercase;
  background: #db7532;
  border: 1px solid #000;
}

.burgerAppBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
